* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #202124;
    font-family: Arial, sans-serif
}

html {
    font-size: 62.5% ;
}
/* Comienzan los estilos del header */
.header {
    height: 10vh;
    /* border: 2px red dotted; */
    display: flex;
    flex-wrap: wrap;
}

.header__nav {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 10px auto;
}

.header__enlace {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    margin: auto 10px;
    display: flex;
}

.header__profile {
    display: inline-flex;
}

/* Comienzan los estilos del main */
.main {
    width: auto;
    height: 80vh;
    /* border: 2px white dotted; */
}

.main__contenido {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    align-items: center;
 }

 .main__logo {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
 }

 .main__logo-img {
     max-width: 100%;
     height: auto;
 }

 .main__search {
     /* border: 2px red dotted; */
     width: 100%;
     height: 30px;
     margin-bottom: 30px;
 }

.main__input-icon {
    color: #b3bcc7;
    position:fixed;
    margin: 15px 10px;
}

 .main__input-field {
     color: white;
     border: 2px #5f6368 solid;
     border-radius: 20px;
     width: 100%;
     height: 100%;
     padding-left: 30px;
 }

.main__input-field:focus {
    background-color: #5f6368;
    border: 2px #b3bcc7 solid;
}

.main__input-field:hover {
    background-color: #5f6368;
    border: 2px #b3bcc7 solid;
}

.botones {
    /* border: 2px red dotted; */
}

.button {
    width: 150px;
    height: 36px;
    background: #303134;
    border: 1px #303134 solid;
    border-radius: 4px;
}

.button__text {
    color: white;
    background:#303134;
}